ProjectExamenVraag2/WebContent/wsdl/QuotesHalen.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://service" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://service" xmlns:intf="http://service" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://service" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="getQuotes">
    <complexType/>
   </element>
   <element name="getQuotesResponse">
    <complexType>
     <sequence>
      <element name="getQuotesReturn" type="impl:ArrayOf_xsd_anyType"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="ArrayOf_xsd_anyType">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="item" type="xsd:anyType"/>
    </sequence>
   </complexType>
   <element name="printGezochteQuote">
    <complexType>
     <sequence>
      <element name="aLijst" type="impl:ArrayOf_xsd_anyType"/>
      <element name="gezochtWoord" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="printGezochteQuoteResponse">
    <complexType>
     <sequence>
      <element name="printGezochteQuoteReturn" type="impl:ArrayOf_xsd_anyType"/>
     </sequence>
    </complexType>
   </element>
   <element name="printQuotes">
    <complexType>
     <sequence>
      <element name="aLijst" type="impl:ArrayOf_xsd_anyType"/>
     </sequence>
    </complexType>
   </element>
   <element name="printQuotesResponse">
    <complexType/>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="getQuotesRequest">

      <wsdl:part element="impl:getQuotes" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="printGezochteQuoteResponse">

      <wsdl:part element="impl:printGezochteQuoteResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="printQuotesResponse">

      <wsdl:part element="impl:printQuotesResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="printGezochteQuoteRequest">

      <wsdl:part element="impl:printGezochteQuote" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getQuotesResponse">

      <wsdl:part element="impl:getQuotesResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="printQuotesRequest">

      <wsdl:part element="impl:printQuotes" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="QuotesHalen">

      <wsdl:operation name="getQuotes">

         <wsdl:input message="impl:getQuotesRequest" name="getQuotesRequest">

       </wsdl:input>

         <wsdl:output message="impl:getQuotesResponse" name="getQuotesResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="printGezochteQuote">

         <wsdl:input message="impl:printGezochteQuoteRequest" name="printGezochteQuoteRequest">

       </wsdl:input>

         <wsdl:output message="impl:printGezochteQuoteResponse" name="printGezochteQuoteResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="printQuotes">

         <wsdl:input message="impl:printQuotesRequest" name="printQuotesRequest">

       </wsdl:input>

         <wsdl:output message="impl:printQuotesResponse" name="printQuotesResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="QuotesHalenSoapBinding" type="impl:QuotesHalen">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getQuotes">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getQuotesRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getQuotesResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="printGezochteQuote">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="printGezochteQuoteRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="printGezochteQuoteResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="printQuotes">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="printQuotesRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="printQuotesResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="QuotesHalenService">

      <wsdl:port binding="impl:QuotesHalenSoapBinding" name="QuotesHalen">

         <wsdlsoap:address location="http://localhost:8009/QuotesWebservice/services/QuotesHalen"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
